@font-face {
    font-family: "WorkSans";
    src: url("../Fuente/WorkSans-Regular.ttf");
}

html{
    font-family: "WorSans";
}

.history a{
    margin-right: 8px;
}

.Produc-detail-Container{
    position: relative;
    float: left;
    width: 100%;
    padding: 0 15%;
    box-sizing: border-box;
}


.Produc-inf{
    position: relative;
    float: left;
    width: 100%;
}

.Product-images{
    position: relative;
    float: left;
    width: 50%;
}


.Product-gallery{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 16px;
}

.Product-gallery ul {
    list-style: none;
}

.Product-gallery li{
    position: relative;
    float: left;
    width: 72px;
    height: 72px;
    padding: 8px;
    box-sizing: border-box; 
    border:1px solid #D9D9D9;   
    border-radius: 4px;
    margin-right: 8px; 
    
}

.Product-gallery li img {
    max-width: 100%; 
    max-height: 100%; 
    
}


.Product-Photo{
    position: relative;
    float: left;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    overflow: hidden;
    border:1px solid #D9D9D9;
    border-radius: 5px;
}

.Product-Photo > img {
    width: 100%;
}

.Produc-details{
    position: relative;
    float: left;
    width: 50%;
    padding: 2.5% 5%;
    box-sizing: border-box;
}
.quantity-counter {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
}

.Product-Descripcion{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 16px;
}
